[tool.poetry]
name = "zodipy"
homepage = "https://github.com/MetinSa/zodipy"
version = "0.5.6"
description = "Zodipy is a python tool that simulates the Zodiacal emission."
authors = ["Metin San <metinisan@gmail.com>"]
readme = "README.md"
license = "MIT"
exclude = ["zodipy/dirbe"]

[tool.poetry.dependencies]
python = ">=3.8, <=3.10"
numpy = "^1.22.3"
healpy = "^1.15.0"
astropy = ">=5.0.1"
jplephem = "^2.17"
typing-extensions = "^4.1.1"
quadpy = "^0.16.13"
[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
ipython = "^8.2.0"
black = "^22.3.0"
mypy = "^0.910"
tox = "^3.24.3"
Sphinx = "^4.4.0"
sphinx-autodoc-typehints = "^1.17.0"
furo = "^2022.3.4"
sphinx-copybutton = "^0.5.0"
jwst-backgrounds = "^1.1.2"
h5py = "^3.6.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
disable_error_code = ["misc"]
overrides = [
    { module = "healpy.*", ignore_missing_imports = true },
    { module = "astropy.*", ignore_missing_imports = true },
]