[tool.poetry]
name = "zodipy"
homepage = "https://github.com/MetinSa/zodipy"
version = "0.3.2"
description = "Zodipy is a python tool that simulates the Zodiacal emission."
authors = ["Metin San <metinisan@gmail.com>"]
readme = "README.md"
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.8,<3.10"
numpy = ">=1.15"
healpy = "^1.15.0"
astropy = "^4.3.1"
astroquery = "^0.4.3"
scipy = "^1.7.1"
Pillow = "^8.3.2"
h5py = "^3.6.0"
numba = "^0.54.1"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
matplotlib = "^3.4.3"
cosmoglobe = "^0.9.24"
ipython = "^7.26.0"
black = "^21.7b0"
mypy = "^0.910"
tox = "^3.24.3"
h5py = "^3.4.0"
tox-poetry-installer = {extras = ["poetry"], version = "^0.8.2"}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.mypy]
disable_error_code = ["misc"]
overrides = [
    { module = "numba.*", ignore_missing_imports = true },
    { module = "healpy.*", ignore_missing_imports = true },
    { module = "astropy.*", ignore_missing_imports = true },
    { module = "astroquery.*", ignore_missing_imports = true },
    { module = "numba.*", ignore_missing_imports = true },
]