appnope==0.1.2; sys_platform == "darwin" and python_version >= "3.7"
astropy==4.3.1; python_version >= "3.7"
astroquery==0.4.3
atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.4.0"
attrs==21.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
backcall==0.2.0; python_version >= "3.7"
backports.entry-points-selectable==1.1.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "2.7"
beautifulsoup4==4.10.0; python_full_version > "3.0.0"
black==21.9b0; python_full_version >= "3.6.2"
certifi==2021.5.30; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
cffi==1.14.6; sys_platform == "linux" and python_version >= "3.6"
charset-normalizer==2.0.4; python_full_version >= "3.6.0" and python_version >= "3"
click==8.0.1; python_version >= "3.6" and python_full_version >= "3.6.2"
cmasher==1.6.2; python_version >= "3.8" and python_version < "3.10"
colorama==0.4.4; sys_platform == "win32" and python_version >= "3.8" and python_full_version >= "3.6.2" and platform_system == "Windows" and python_version < "3.10"
colorspacious==1.1.2; python_version >= "3.8" and python_version < "3.10"
cosmoglobe==0.9.31; python_version >= "3.8" and python_version < "3.10"
cryptography==3.4.8; sys_platform == "linux" and python_version >= "3.6"
cycler==0.10.0; python_version >= "3.7"
decorator==5.1.0; python_version >= "3.7"
distlib==0.3.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
e13tools==0.9.6; python_version >= "3.8" and python_version < "3.10"
filelock==3.0.12; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
h5py==3.4.0; python_version >= "3.8" and python_version < "3.10"
healpy==1.15.0; python_version >= "3.6"
html5lib==1.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
idna==3.2; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
importlib-metadata==4.8.1; python_version >= "3.6"
iniconfig==1.1.1; python_version >= "3.6"
ipython==7.27.0; python_version >= "3.7"
jedi==0.18.0; python_version >= "3.7"
jeepney==0.7.1; sys_platform == "linux" and python_version >= "3.6"
keyring==23.2.1; python_version >= "3.6"
kiwisolver==1.3.2; python_version >= "3.7"
matplotlib-inline==0.1.3; python_version >= "3.7"
matplotlib==3.4.3; python_version >= "3.7"
mimeparse==0.1.3; python_version >= "3.5"
mypy-extensions==0.4.3; python_full_version >= "3.6.2" and python_version >= "3.5"
mypy==0.910; python_version >= "3.5"
numpy==1.21.2; python_version >= "3.7" and python_version < "3.11"
packaging==21.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
parso==0.8.2; python_version >= "3.7"
pathspec==0.9.0; python_full_version >= "3.6.2"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.7"
pickleshare==0.7.5; python_version >= "3.7"
pillow==8.3.2; python_version >= "3.6"
platformdirs==2.3.0; python_version >= "3.6" and python_full_version >= "3.6.2" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6")
pluggy==1.0.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
prompt-toolkit==3.0.20; python_full_version >= "3.6.2" and python_version >= "3.7"
ptyprocess==0.7.0; sys_platform != "win32" and python_version >= "3.7"
py==1.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pycparser==2.20; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "linux" or sys_platform == "linux" and python_version >= "3.6" and python_full_version >= "3.4.0"
pyerfa==2.0.0; python_version >= "3.7"
pygments==2.10.0; python_version >= "3.7"
pyparsing==2.4.7; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
pytest==6.2.5; python_version >= "3.6"
python-dateutil==2.8.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
pyvo==1.1; python_version >= "3.5"
pywin32-ctypes==0.2.0; sys_platform == "win32" and python_version >= "3.6"
regex==2021.8.28; python_full_version >= "3.6.2"
requests==2.26.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
scipy==1.7.1; python_version >= "3.7" and python_version < "3.10"
secretstorage==3.3.1; sys_platform == "linux" and python_version >= "3.6"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
soupsieve==2.2.1; python_version >= "3.6" and python_full_version > "3.0.0"
toml==0.10.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
tomli==1.2.1; python_version >= "3.6" and python_full_version >= "3.6.2"
tox==3.24.3; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
tqdm==4.62.2; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "3.10" or python_version >= "3.8" and python_version < "3.10" and python_full_version >= "3.4.0"
traitlets==5.1.0; python_version >= "3.7"
typing-extensions==3.10.0.2; python_full_version >= "3.6.2" and python_version >= "3.5"
urllib3==1.26.6; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
virtualenv==20.7.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_version >= "3.7"
webencodings==0.5.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
zipp==3.5.0; python_version >= "3.6"
